<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
      <div class="card">
          <div class="card-header">Liste des patients</div>

          <div class="card-body">
              <form action="" method="get" th:action="@{index}">
                  <label >key word</label>
                  <input type="text" name="keyword" th:value="${keyword}">
                  <button type="submit" class="btn btn-primary">Rechercher</button>
              </form>
              <table class="table">
                  <thead>
                  <tr>
                      <th>
                          ID
                      </th>
                      <th>
                          Nom
                      </th>
                      <th>
                          Date
                      </th>
                      <th>
                          Malade
                      </th>
                      <th>
                          Score
                      </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="patient:${listpatients}">
                      <td th:text="${patient.id}"></td>
                      <td th:text="${patient.nom}"></td>
                      <td th:text="${patient.dateNaissance}"></td>
                      <td th:text="${patient.malade}"></td>
                      <td th:text="${patient.score}"></td>
                      <td >
                          <a onclick="return confirm('etes vous sur?')" class="btn btn-danger" th:href="@{delete(id = ${patient.id}, keyword=${keyword}, page=${currentPage})}">
                              Delete
                          </a>
                      </td>
                  </tr>
                  </tbody>
              </table>
              <ul class="nav nav-pills">
                  <li th:each="page,status:${pages}">
                      <a th:class="${status.index==status.currentPage?'btn btn-info m-lg-1':'btn btn-outline-info m-lg-1'}"
                         th:text="${status.index}"
                         th:href="@{index(page=${status.index}, keyword=${keyword})}"></a>
                  </li>
              </ul>
          </div>
      </div>


    </div>


</body>
</html>